.shopping--btn{
    margin-right: 2rem;
    color: #3C6255;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping--btn:hover{
    background-color: inherit !important;
    transform: scale(1.1);
}

.text--cart{
    text-align: center;
    line-height: 1.3rem;
}
