.log--btn{
    color: #3C6255;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.log--btn:hover{
    background-color: inherit !important;
    color: whitesmoke !important;
}

.logged--in--container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 0.5rem;
}

.logged--in--box{
    display: flex;
    flex-direction: column;
}

.logged--in--box--text{
    color: #3C6255;
    font-weight: bold;
}

.link--my--pages{
    color: #3C6255;
}

.link--my--pages:hover{
    color: whitesmoke;
}

.usericon{
    font-size: 30px;
    color: #3C6255;
}